<template>
  <div class="page-wrapper">
    <div class="container">
      <div v-if="this.$route.name != 'index'" class="post-title-wrapper box">
        <h2>{{ content.post_title }}</h2>
      </div>
    </div>
    <ThePagebuilder v-if="content && content.custom_fields.pagebuilder" :blocks="content.custom_fields.pagebuilder" />
  </div>
</template>
<script>
export default {
  components: {
    ThePagebuilder: () => import('~/components/ThePagebuilder.vue')
  },
  computed: {
    content () {
      const path = this.$route.params.post
      return this.$store.state.pages['post/' + path] || false
    }
  }
}
</script>
<style lang="scss">
  .page-wrapper {

  }
</style>
