<template>
  <div v-if="title" class="row">
    <div class="col-12 block-top">
      <h2>
        {{ title }}
      </h2>
      <div v-if="url" class="buttons-wrapper">
        <nuxt-link :to="url" class="btn btn-secondary">
          <span>{{ linkTitle }}</span>
          <svg-icon name="reachhemservice/chevron" />
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    url: String,
    linkTitle: String
  }
}
</script>

<style>

</style>
