<template>
  <div class="loading-wrapper">
    <ul class="list-unstyled justify-content-around">
      <li class="dot red" />
      <li class="dot grey" />
      <li class="dot black" />
    </ul>
  </div>
</template>
<script>
export default {}
</script>
<style lang="scss">
.loading-wrapper {
  // nothing
}
</style>
