<template>
  <div class="cf-wrapper">
    <client-only>
      <div v-html="formHtml" class="form-wrapper" />
    </client-only>
  </div>
</template>
<script>
export default {
  /****************************************************************************************/
  /*                                                                                      */
  /* Add following to middleware/getSupportData.js                                        */
  /* await context.app.store.dispatch({ type: 'getContactform', id: [ID], lang: [LANG] }) */
  /*                                                                                      */
  /****************************************************************************************/
  props: {
    id: {
      type: [Number, String]
    }
  },
  computed: {
    form () {
      return this.$store.state.cf7.cf[this.id] || {}
    },
    formHtml () {
      return this.form.html
    },
    formScripts () {
      return this.form.js
    },
    formStyle () {
      return this.form.css
    }
  },

  mounted () {
    // Needs to load after form html
    if (this.formScripts && !this.scriptsLoaded) {
      setTimeout(() => {
        const cfController = document.createElement('script')
        cfController.setAttribute('src', this.formScripts.scripts, 'id')
        document.body.appendChild(cfController)
        this.scriptsLoaded = true
      }, 500)
    }
  },
  head () {
    return {
      link: [
        { rel: 'stylesheet', type: 'text/css', href: this.formStyle.main }
      ],
      script: [
        { hid: 'jquery', async: true, type: 'text/javascript', src: this.formScripts.jquery },
        { hid: 'jquery-migrate', async: true, type: 'text/javascript', src: this.formScripts['jquery-migrate'] },
        { hid: 'wpcf7', type: 'text/javascript', innerHTML: this.formScripts.wpcf7 }
      ],
      __dangerouslyDisableSanitizersByTagID: {
        'wpcf7': ['innerHTML']
      }
    }
  }
}
</script>
<style lang="scss">
.cf-wrapper {
  form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    p {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      label {
        width: 100%;
        font-style: italic;
        font-family: $primary-font;
        input, textarea {
          width: 100%;
          background: rgba(255,255,255,0.4);
          border: 1px solid rgba(0,0,0,0.1);
          border-radius: $border-radius;
          padding: 0.75rem;
          &[type="email"] {

          }
        }
      }
      .wpcf7-acceptance {
        .wpcf7-list-item {
          margin: 0;
          display: flex;
          label {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            span {

            }
            input {
              width: auto;
            }
          }
        }
      }
    }
  }

  // Overrides
  input:-internal-autofill-selected {
    background-color: rgba($primary, 0.1)!important;
  }

  // Validation
  .wpcf7 form .wpcf7-response-output {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    border: $border;
    border-radius: $border-radius;
    background: rgba($primary, 0.1);
    font-family: $primary-font!important;
  }

  // Button submit
  input[type="submit"] {
    border: none;
    outline: none;
    background-color: none;
    background: url(/chevron.svg) no-repeat 88% center;
    background-size: 10px;
    transition: all ease 250ms;
    * {color: $white;}
    &:hover {
      background: none;
      background: url(/chevron.svg) no-repeat 90% center!important;
      background-size: 10px!important;
    }
  }

  // Custom checkbox
  input[type="checkbox"] {
    display: none;
    * {transition: all ease 250ms;}
    + .wpcf7-list-item-label:before {
      content: "";
      margin-right: 10px;
      display: inline-block;
      width: 20px;
      height: 20px;
      //background: url("/checkbox-unchecked-1.svg") no-repeat center;
      background-size: contain;
      transform: translateX(-0px) translateY(5px);
      border: 2px solid $black;
      background-color: rgba($black, 0);
    }
    &:checked + .wpcf7-list-item-label:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      border: none;
      background: url("/checked.svg") no-repeat center;
      background-size: 12px;
      transform: translateX(-0px) translateY(5px);
      border: 2px solid $black;
      background-color: rgba(green, 0.1);
    }
  }
}
</style>
