<template>
  <div v-if="!isChecked" class="cookies-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-6 text-wrapper">
          <h3>Cookies</h3>
          <h5>
            Vi använder cookies för att ge dig en bättre upplevelse på vår
            webbplats.
          </h5>
        </div>
        <div class="col-6 buttons-wrapper">
          <b-button variant="secondary" to="/integritetspolicy">
            <span>Läs mer om cookies här</span>
            <svg-icon name="reachhemservice/chevron" />
          </b-button>
          <b-button @click="checkCookies" variant="primary">
            <span>Jag godkänner alla cookies</span>
            <svg-icon name="reachhemservice/accept" />
          </b-button>
        </div>
      </div>
    </div>
    <div />
  </div>
</template>

<script>
export default {
  components: {},
  data () {
    return {
      isChecked: true
    }
  },
  mounted () {
    this.isChecked = window.localStorage.isCookiesChecked

    if (this.isChecked === 'true') {
      this.$gtm.init()
    }
  },
  methods: {
    checkCookies () {
      window.localStorage.isCookiesChecked = true
      this.isChecked = true
      this.$gtm.init()
    }
  }
}
</script>

<style lang="scss">
.cookies-wrapper {
  position: fixed;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .container {
    width: 1920px;
    max-width: 100%;
    background: $yellow;
    padding: $box-padding;
    border-radius: $border-radius;
    @media(max-width: 1920px) {
      width: 95%;
    }
    .row {
      justify-content: space-between;
      align-items: center;
      @media(max-width: 1668px) {
        justify-content: center;
      }
      .col-6 {
        padding: 0;
        @media(max-width: 1668px) {
          flex: 0 0 100%;
          max-width: 100%;
        }
        h3 {
          margin-bottom: 1rem;
        }
        &.text-wrapper {
          h5 {
            font-family: $primary-font;
            margin: 0;
          }
          @media(max-width: 1668px) {
            margin-bottom: 1rem;
            text-align: center;
          }
        }
        &.buttons-wrapper {
          justify-content: flex-end;
          @media(max-width: 1668px) {
            justify-content: center;
            .btn {
              margin: 0 1rem 0rem 1rem;
              text-align: left;
              @media(max-width: 767px) {
                margin-top: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
</style>
