<template>
  <div class="footer-wrapper">
    <div class="container">
      <div class="column logo-wrapper">
        <nuxt-link to="/">
          <svg-icon name="reachhemservice/reachhemservice-logo" />
        </nuxt-link>
        <a target="_blank" href="https://reachforetagsservice.se/">
          <svg-icon name="reachhemservice/reachfast-logo" />
        </a>
        <a target="_blank" href="https://www.serviceforetagen.se/auktorisation/">
          <svg-icon name="reachhemservice/asf" />
        </a>
      </div>
      <div class="column contact-info-wrapper">
        <div v-html="options.footer.footer_info" class="content">
          {{ options.footer.footer_info }}
        </div>
      </div>
      <div class="column social-icons-wrapper">
        <a :href="options.footer.socialmedia.instagram">
          <svg-icon name="reachhemservice/insta" />
        </a>
        <a :href="options.footer.socialmedia.facebook" target="_blank">
          <svg-icon name="reachhemservice/fb" />
        </a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    options () {
      return this.$store.state.options || {}
    }
  }
}
</script>
<style lang="scss">
.footer-wrapper {
  padding: 5rem 0 15rem 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .column {
      width: 33.33%;

      @media(max-width: 1280px) {
        width: 100%;
      }
    }
    .logo-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      width: 33.33%;
      @media(max-width: 1280px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 2rem;
      }
      @media(max-width: 850px) {
        width: 100%;
      }
      a {
        width: 100%;
        margin-bottom: 2rem;
        &:last-of-type {
          margin-right: 0;
        }
        svg {
          width: 50%;
          height: 80px;
          margin-right: 2rem;
          @media(max-width: 1280px) {
            margin-right: 0;
            width: 80%;
            margin-left: 10%;
          }
        }
      }
    }
    .contact-info-wrapper {
      .content {
        text-align: center;
        margin: 0;
        p {
          font-size: 18px;
          margin-bottom: 0;
          font-family: $primary-font;
        }
      }
    }
    .social-icons-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @media(max-width: 1024px) {
        justify-content: center;
        margin-top: 2rem;
      }
      a {
        margin-left: 2rem;
        @media(max-width: 1024px) {
          margin-left: 1rem;
          margin-right: 1rem;
        }
        svg {
          width: 30px;
          height: 30px;
          @media(max-width: 600px) {
            width: 25px;
            height: 25px;
          }
        }
      }
    }

  }
}
</style>
