<template>
  <div class="page-wrapper">
    <div class="container">
      <div v-if="this.$route.name != 'index'" class="post-title-wrapper box">
        <h2>{{ content.post_title }}</h2>
      </div>
    </div>
    <ThePagebuilder v-if="content && content.custom_fields.pagebuilder" :blocks="content.custom_fields.pagebuilder" />
  </div>
</template>
<script>
export default {
  components: {
    ThePagebuilder: () => import('~/components/ThePagebuilder.vue')
  },
  data () {
    return {
      structuredData: {
        '@context': 'https://schema.org/',
        '@type': 'LocalBusiness',
        'name': 'Reach Hemservice AB',
        'address': {
          '@type': 'PostalAddress',
          'postalCode': '555 93',
          'streetAddress': 'Mogölsvägen 4',
          'addressCountry': 'Sweden',
          'addressRegion': 'Jönköping',
          'telephone': '073-376 65 70'
        },
        'image': 'https://wordpress.reachhemservice.se/wp-content/uploads/2022/06/Reach_hemservice_logotyp_orange_CMYK-scaled.jpg',
        'geo': {
          '@type': 'GeoCoordinates',
          'latitude': '57.764490',
          'longitude': '14.094320'
        },
        'telephone': '073-978 27 83',
        'url': 'https://reachhemservice.se/',
        sameAs: [
          'https://www.facebook.com/reachhemservice',
          'https://www.instagram.com/reachhemservice/'
        ]
      },
      window: {
        pageYOffset: 0
      }
    }
  },
  head () {
    return {
      title: 'Städfirma i Jönköping, Flyttstädning, Veckostädning - Reach Hemservice',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Städfirma Jönköping - efter dina specifika städbehov, med kvalitet, noggrannhet och trivsel i fokus.'
        }
      ],
      script: [{ type: 'application/ld+json', json: this.structuredData }]
    }
  },

  computed: {
    content () {
      return this.$store.state.pages[this.$route.path] || false
    }
  }
}
</script>
<style lang="scss">
  .page-wrapper {
    margin: 10rem 0 5rem 0;

    .post-title-wrapper {
      padding: 1rem 1.5rem;
      margin-bottom: 4rem;
      box-shadow: none;
      background: none;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 30%);
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 10%;
        height: 100%;
        background: none;
        z-index: -1;
        box-shadow: $box-shadow;
      }

      h2 {
        margin: 0;
      }
    }
  }
</style>
