<template>
  <div v-if="data.news" class="base_news-wrapper">
    <div class="container">
      <BaseBlockTop v-if="data.title || data.url" :title="data.title" :url="data.link.url" :linkTitle="data.link.title" />
      <div class="row justify-content-center gutter">
        <div v-for="(news, i) in data.news" :key="i" class="col-sm-6 news-item">
          <nuxt-link :to="news.permalink" class="news-item-inner border-radius box">
            <img :src="news.featured_image.large" :alt="news.post_name">
            <div class="meta">
              <h4>{{ news.post_title }}</h4>
              <p v-if="news.post_excerpt">
                {{ news.post_excerpt.slice(0, 100) + '...Klicka för att läsa mer' }}
              </p>
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    BaseBlockTop: () => import('~/components/BaseBlockTop.vue')
  },
  props: {
    data: {
      type: [Object, Array]
    }
  }
}
</script>

<style lang="scss">
    .base_news-wrapper {
        .container {
          .row {
            &.gutter {
              margin: 0 -2rem;
              > * {
                  padding: 0 2rem;
              }
            }

            .news-item {
              @media(max-width: 767px) {
                margin-bottom: 3rem;
              }
              .news-item-inner {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
                text-decoration: none;
                color: $black;
                transition: all ease 250ms;

                &:hover {
                  background: white;
                  box-shadow: 12px 12px 25px rgba($black, 0.15);
                  transform: translateY(-0.2rem);
                }

                img {
                  width: 50%;
                  height: 100%;
                  border-radius: $border-radius;
                  box-shadow: $box-shadow;
                  @media(max-width: 1280px) {
                    width: 100%;
                  }
                }
                .meta {
                  width: 50%;
                  padding-left: 2rem;
                  @media(max-width: 1280px) {
                    width: 100%;
                    padding: 0;
                    margin-top: 2rem;
                  }
                  h4 {
                    font-weight: 700;
                    margin-bottom: 0.5rem;
                  }
                  .buttons-wrapper {
                    a {
                      @media(max-width: 1280px) {
                        padding: 1rem;
                      }
                      svg {
                        @media(max-width: 1280px) {
                          margin: 0;
                        }
                      }
                      span {
                        @media(max-width: 1280px) {
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }

          }
        }
    }
</style>
