<template>
  <div class="base_price-calculator-wrapper">
    <div class="container">
      <div class="row gutter align-items-center">
        <div class="col-md-6">
          <h2>{{ data.title }}</h2>
          <div v-html="data.text">
            {{ data.text }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-inner box">
            <h2>Prisuppgifter</h2>
            <div v-html="data.price_info">
              {{ data.price_info }}
            </div>
            <div class="buttons-wrapper lg">
              <a v-if="data.phonenumber" :href="'tel:'+data.phonenumber" class="btn btn-primary orange">
                <svg-icon name="reachhemservice/phone" />
                <span>Ring oss</span>
              </a>
              <a :href="'mailto:'+data.mail" class="btn btn-primary orange">
                <svg-icon name="reachhemservice/mail" />
                <span>Maila oss</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: [Object, Array]
    }
  },
  data () {
    return {
      price: '0',
      area: '',
      message: ''
    }
  }
}
</script>

<style lang="scss">
.base_price-calculator-wrapper {
  .container {
    .row {

      &.gutter {
        margin: 0 -2rem;
        > * {
            padding: 0 2rem;
        }
        @media(max-width: 767px) {
            margin: 0;
            > * {
                padding: 0;
            }
        }
      }

      ul {
        margin-left: 25px;
        li {
          margin: 0.5rem 0;
        }
      }

      .form-inner {
        background: $white;
        box-shadow: $box-shadow;
        form {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
        }
        .input-item {
          width: 48%;

          @media(max-width: 1100px) {
            width: 100%;
            margin-bottom: 1rem;
          }
          label {
            width: 100%;
            font-style: italic;
            font-family: $primary-font;
          }

          input {
            // Globally in bootstrap config
          }
        }

        .payment {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
          margin-top: 2rem;
          h4 {
            margin: 0;
            @media(max-width: 1100px) {
              width: 100%;
            }
            &:nth-child(2) {
              color: $primary;
              font-size: 32px;
              font-weight: 700;
            }
            a {
              color: $black;
              text-decoration: none;
              box-shadow: 0 2px 0 0 $black;
              transition: all ease 250ms;
              &:hover {
                box-shadow: 0 2px 0 0 $primary;
                color: $primary;
              }
            }
          }
          span {
            //
            @media(max-width: 1100px) {
              width: 100%;
            }
          }

        }

        .message {
          margin: 2rem 0 1rem 0;
          display: block;
          padding: 1rem;
          background: rgba(orangered, 0.1);
          border-radius: $border-radius;
        }

        .buttons-wrapper {
          margin-top: 2rem;
        }
      }

    }
  }
}
</style>
