<template>
  <div class="base_cta-wrapper">
    <div :class="['container', data.background]">
      <div :class="[ data.layout, 'row', 'gutter', 'justify-content-center', 'align-items-center']">
        <div class="column col-md-7">
          <h2>{{ data.title }}</h2>
          <div v-html="data.content" class="content">
            {{ data.content }}
          </div>
          <div class="buttons-wrapper">
            <nuxt-link :target="button.link.target" v-for="(button, i) in data.buttons" :key="i" :to="button.link.url" class="btn btn-secondary">
              <span>{{ button.link.title }}</span>
              <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 15.5225L5.96923 8.00298L0 0.522461H4.28718L10.2359 8.00298L4.26667 15.5225H0Z" fill="#1D1D1B" />
              </svg>
            </nuxt-link>
          </div>
        </div>
        <div class="column col-md-5">
          <img :class="{ 'no-shadow' : data.background === 'bg' }" :src="data.illustrationimage.sizes.large" alt="data.illustrationimage.alt">
        </div>

        <!-- {{ data }} -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object
    }
  }
}
</script>

<style lang="scss">
    .base_cta-wrapper {
        .container {
          padding: 5rem;
          &.bg {
            background: rgba($yellow, 0.2);
            box-shadow: $box-shadow;
            border: $border;
            border-radius: $border-radius;
          }
          @media(max-width: 1024px) {
            padding: 2.5rem;
          }
          .row {
              &.gutter {
                  margin: 0 -2rem;
                  > * {
                      padding: 0 2rem;
                  }
                  @media(max-width: 767px) {
                      margin: 0;
                      > * {
                          padding: 0;
                      }
                  }
              }
              .column {
                  img {
                      width: 100%;
                      height: auto;
                      border-radius: $border-radius;
                      box-shadow: $box-shadow;
                      border: $border;
                      &.no-shadow {
                        box-shadow: none;
                        border: none;
                      }
                  }
                  .content {

                  }
                  .buttons-wrapper {
                    a {
                      margin-bottom: 2rem;
                    }
                  }
              }
          }
        }
    }
</style>
