<template>
  <div class="base_content-wrapper">
    <div class="container">
      <div :class="[ data.layout, 'row', 'gutter']">
        <div v-if="data.image.sizes" class="col-md-6">
          <img :src="data.image.sizes.large" alt="data.image.alt">
        </div>
        <div class="col-md-6">
          <div v-html="data.content" class="content">
            {{ data.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object
    }
  }
}
</script>

<style lang="scss">
    .base_content-wrapper {
        .container {
            .row {
                &.gutter {
                    margin: 0 -2rem;
                    > * {
                        padding: 0 2rem;
                    }
                    @media(max-width: 767px) {
                        margin: 0;
                        > * {
                            padding: 0;
                        }
                    }
                }
                img {
                  border: $border;
                  margin-bottom: 2rem;
                }
                &.inverted {
                    .col-md-6 {
                        &:nth-child(1) {
                            order: 2;
                            @media(max-width: 767px) {
                                order: 1;
                            }
                        }
                        &:nth-child(2) {
                            order: 1;
                            @media(max-width: 767px) {
                                order: 2;
                            }
                        }
                    }
                }
                .col-md-6 {
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: $border-radius;
                        box-shadow: $box-shadow;
                    }
                    .content {

                    }
                }
            }
        }
    }
</style>
